modules = ["python-3.12", "web", "nodejs-20"]
run = "uvicorn main:app --host 0.0.0.0 --port 3000"

[nix]
channel = "stable-25_05"
packages = ["cargo", "glibcLocales", "libiconv", "rustc"]

[deployment]
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port 3000"]
